body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    padding: 50px;
}

.container {
    height: 80vh;
    width: 80vh;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.row {
    flex-basis: 100%;
    display: flex;
}

.block {
    border: 1px solid grey;
    flex-basis: 100%;
}

.active {
    background-color: black;
}